body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}
.navbar{
    display: flex;
    width: 1180px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    align-items: center;
}

.arrow{
    rotate: 90deg;
}

.header-text{
    font-size: 16px;
    font-weight: bold;
}

.gogo-logo{
    width: 119px;
    height: 39px;
}

.relative{
    position: relative;
}

.nav-text{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-text{
    font-size: 12px;
}

.icon-container{
    display: flex;
    gap: 40px;
    margin-left: 200px;
}

.each-icon{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dollar{
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-hidden{
    display: none;
    position: absolute;
    width: 466px;
    height: 305px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    line-height: 3rem;
}

.header-text:hover + .news-hidden{
    display: flex;
}
/* main */

  #main {
    border-radius: 10px;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
}

.main-section {
    width: 1180px;
    display: flex;
    border-radius: 10px;
    background-color: #f4f4f4;
}

#intro-section {
    height: 385px;
    border-radius: 10px;
    background-color:#f4f4f4;
    padding-top: 40px;
    padding-left: 40px;
}

.shere {
    width:40px;
    height: 30px;
    background: #f0efef;
    border-radius: 100px;
    margin-top: 100px;
    margin-left: 50px;
    padding: 5px 10px;
}

#intro-image {
    height: 385px;
    width: 575px;
    padding-left: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.main-img {
    width: 575px;
    height: 385px;
    border-radius: 10px;
    pointer-events: none;
}

.image-text{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
}
.black-screen{
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0;
    pointer-events: none;
}
#intro-image:hover .black-screen{
    opacity: 0.4;
    transition: 0.3s;
}

#intro-image:hover .image-text{
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}
#intro-image:hover .main-img {
    transform: scale(1.1, 1.1);
    transition:0.3s ;
}

.text {
    font-size: 18px;
    color: #fff;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(229deg, #e08100, #c90027);
    font-weight: bold;
    border-radius: 10px;
    padding: 2px 5px;
}

.main-text {
    width: 515px;
    font-weight: bold; 
    padding-top: 40px
}

#main-section {
    width:1180px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    background-color: #f4f4f4;
}

.section-image {
    height: 175px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.section-image-text {
    width: 77px;
    height: 23px;
    margin: 0;
    padding-top: 70px;
    padding-left: 110px;
    font-weight: bold;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
}

.section-image-screen {
    background-color: black;
    width: 300px;
    height: 175px;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.section-image:hover .image {
    transform: scale(1.1, 1.1);
    transition:0.3s ;
}

.section-image:hover .section-image-screen{
    opacity: 0.5;
    pointer-events: none;
}

.section-image:hover .section-image-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}
.img {
    width: 263px;
    height: 282px;
}

.section-text {
    width: 300px;
    font-weight: 600; display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*  */

#section-story {
    width: 1180px;
    height: 320px;
}

#intro-title {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

#title-sub-title {
    font-size: 18px;
    color: #fff;
    background-color: #00b0f4;
    border-radius: 3px;
    padding: 2px 3px;
}

.story {
    height: 235px;
    display: flex;
    justify-content: space-between;
}

.story-news {
    position: relative;
    width: 170px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
}

.story-news:hover .story-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}


.story-hidden{
    position: absolute;
    top: 140px;
    padding: 10px;
    line-height: 17px;
    max-height: 37px;
    color: #fff;
    overflow: hidden;
}
.story-news:hover .story-hidden{
    top:120px;
    overflow:visible;
}

.story-image:hover.hidden-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}

.story-image {
    width: 100%;
    height: 100%;
}

.hidden-text{
    width: 100%;
    height: 100%;
}

.image-logo {
  position: absolute;
  top: 0;
  padding: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}
/*  */
.container {
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
}

.section-list {
    width: 690px;
}

.list {
    height: 150px;
    display: flex;
    padding-top: 40px;
}

.list-image {
    width: 210px;
    height: 150px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.list-text {
    width: 450px;
    height: 150px;
    font-size: 16px;
    padding-left: 20px;
}

.list-image-text {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 50px;
    color:#fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.list-image-screen{
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.list-image:hover .list-image-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}

.list-image:hover .list-image-screen{
    opacity: 0.3;
    pointer-events: none;
}

.list-image:hover .list-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.p-color {
    color: #888;
}

.container-text {
    width: 690px;
    height: 320px;
    font-weight: 700;
    background: #287df0;
    color:#fff;
    position: relative;
    top: 0;

}

.container-text-border{
    width: 570px;
    height: 70px;
    border: 1px solid #0e70ee;
    position: relative;
    top: 0;
    left: 30px;
}

h4{
    width: 575px;
    position: relative;
    top: 0;
    left: 20px;
    font-weight: 700;
}

#list-text {
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #f2f2f2;
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
/* section */
.section {
    width: 300px;
}

.section-news {
    width: 300px;
    height: 170px;
    padding-top: 40px;
    position: relative;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.section-news-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.news-image-text {
    position: absolute;
    top: 95px;
    left: 120px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.news-image-screen{
    background-color: black;
    height: 170px;
    width: 100%;
    position: absolute;
    top: 40px;
    opacity: 0;
    pointer-events: none;
}

.section-news:hover .news-image-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}

.section-news:hover .news-image-screen{
    opacity: 0.3;
    pointer-events: none;
}

.section-news:hover .section-news-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.news-text {
    width: 300px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: relative;
}
/*  */


.container-news {
    width:100%;
    background-color: #fdfaf5;
    position: relative;
    margin-top: 50px;
}

.container-list {
    width: 270px;
    height: 90px;
    display: flex;
    text-align: center;
    padding-left: 30px;
    gap: 5px;
}
.number-list {
    width: 25px;
    height: 90px;
    font-weight: 700;
    color: #e00034;
    font-size: 46px;
    line-height: 46px;
    padding-top: 13px;
}
/*  */
#main-container {
    width: 100%;
    height: 500px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#main-container-img {
    width: 542px;
    height: 500px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

#main-container-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#main-container-img:hover #main-container-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}
/*  */
.main-container {
    width: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container-news {
    position: relative;
    width: 278px;
    height: 243px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
}

.main-container-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.main-container-hidden {
    width: 223px;
    height: 50px;
    position: absolute;
    top: 170px;
    left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    max-height: 37px;
    color: #fff;
    overflow: hidden;
}

.main-container-hidden-text {
    width: 100%;
    height: 100%;
}

.main-container-news:hover .main-container-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.main-container-news:hover .main-container-hidden{
    top:160px;
    overflow:visible;
}

.main-container-news:hover.main-container-hidden-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}
/*  */
.gogo-section-style {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}

.gogo-style-container{
    width: 263px;
    height: 320px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    position: relative;
}

.gogo-style{
    display: flex;
    width: 263px;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.gogo-style-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.style-image-text {
    position: absolute;
    top: 35px;
    left: 45px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    opacity: 0;
    pointer-events: none;
}

.gogo-style:hover .style-image-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}
.style-image-screen{
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.gogo-style:hover .style-image-screen{
    opacity: 0.3;
    pointer-events: none;
}

.gogo-style:hover .gogo-style-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}
/* gogo Комик */

.section-book {
    height: 328px;
    display: flex;
    justify-content: space-between;
}

.gogo-book {
    width: 550px;
    height: 200px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.book-image {
    width: 550px;
    height: 200px;
    border-radius: 3px;
}

.book-image-text {
    position: absolute;
    top: 0;
    left: 160px;
    padding: 70px;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.gogo-book:hover .book-image-text {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}

.book-image-screen{
    background-color: black;
    height: 200px;
    width: 550px;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
}

.gogo-book:hover .book-image-screen{
    opacity: 0.3;
    pointer-events: none;
}

.gogo-book:hover .book-image{
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}